In [167]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [168]:
# file_path = 'dataset/pilmapres.xlsx'

# sheets = ['2021', '2022', '2023']

# df_sheets = pd.read_excel(file_path, sheet_name=sheets, dtype={'NIS': str})

In [169]:
file_21 = 'dataset/new/21.xlsx'
file_22 = 'dataset/new/22.xlsx'
file_23 = 'dataset/new/23.xlsx'

df_21 = pd.read_excel(file_21, sheet_name='Worksheet', dtype={'NIS': str})
df_22 = pd.read_excel(file_22, sheet_name='Worksheet', dtype={'NIS': str})
df_23 = pd.read_excel(file_23, sheet_name='Worksheet', dtype={'NIS': str})

In [170]:
# df_2021 = df_sheets['2021']
# df_2022 = df_sheets['2022']
# df_2023 = df_sheets['2023']

df = pd.concat([df_21, df_22, df_23], ignore_index=True)

In [171]:
df = df[~df['Major'].isin(['Magister of Management', 'Magister of Management (BUF)', 'Management S3'])]

In [172]:
# strings_to_filter = ['External Regional', 'Regional', 'International']

# pattern = '|'.join(strings_to_filter)

In [173]:
df = df[~((df['Field'].isin(['Kompetisi', 'Pengakuan', 'Penghargaan'])) & 
          df['Level'].isin(['Internal Jurusan', 'Internal Sekolah / Universitas', 'External Regional']))]

In [174]:
kenley_rows = df[df['Name'] == "Kenley Maccauley Riyono"]

# Display the filtered rows
print(kenley_rows)

                NIS                     Name       Major  Student Year  \
3064  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3065  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3066  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3067  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3068  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3069  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3070  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3071  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3072  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3073  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3074  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3075  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3076  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3077  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3078  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3079  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3080  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3081  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3082  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3083  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3084  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3085  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3086  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3087  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3088  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3089  0106042210012  Kenley Maccauley Riyono  Accounting          2022
3090  0106042210012  Kenley Maccauley Riyono  Accounting          2022

                                               Activity  Start Date  \
3064  Bimbingan Teknis Pengantar Bisnis Pemula Bagi ...  2022-10-22
3065                                 Becoming Indonesia  2023-07-10
3066  Narasumber International Conference KRA X 2023...  2023-07-27
3067                            Student Union 2023/2024  2023-08-01
3068  International Conference of Ethics on Business...  2023-08-31
3069  2023 Bali International Conference of Project ...  2023-12-15
3070  JURNAL JRPP: JURNAL REVIEW PENDIDIKAN DAN PENG...  2023-12-15
3071                           Publikasi Jurnal Sinta 5  2024-04-26
3072                           Publikasi Jurnal Sinta 4  2024-05-02
3073                           Publikasi Jurnal Sinta 4  2024-06-01
3074  Three Phases of Human Development Index Toward...  2024-06-03
3075                                          HKI RAISE  2024-06-25
3076                                HKI RAISE Storyline  2024-06-25
3077               INTERNATIONAL CONFERENCE KRA XI 2024  2024-07-17
3078  Narasumber TPD untuk Guru PoE & Ekonomi Pasar ...  2024-09-20
3079                Pembicara Sharing Knowledge BizWeek  2024-09-24
3080    International Dewantara Audit and Tax Challenge  2024-10-01
3081                                 EC002024199956 HKI  2024-10-03
3082                                 EC002024199957 HKI  2024-10-03
3083  The Thirteenth International Conference on Ent...  2024-11-14
3084  Narasumber Internasional Universade Da Paz Tim...  2024-11-28
3085  Narasumber untuk SMA Kristen Petra 1 Mengenai ...  2024-11-29
3086  10th International CEO Congress Abstract Book ...  2024-12-07
3087          10th International CEO Congress Presenter  2024-12-07
3088  HKI Carbon Pricing As A Revenue Stream For Gre...  2024-12-18
3089  HKI Carbon Pricing For A Net-Zero Future: Tax ...  2024-12-18
3090  HKI Three Phases Of Human Development Index To...  2024-12-18

        End Date  Period                                        Description  \
3064  2023-01-23   20221  Abdimas yang dilakukan oleh Prodi Accounting t...
3065  2023-07-10   20222                 lomba karya ALP Becoming Indonesia
3066  2023-07-27   20222                       International Conference KRA
3067  2024-08-31   20222                                                NaN
3068  2023-09-23   20222  International Conference of Ethics on Business...
3069  2023-12-16   20231  2023 Bali International Conference of Project ...
3070  2024-01-09   20231  Publish Jurnal Sinta 5\nJudul:\nRELIGIOSITY AN...
3071  2024-04-26   20232  Publikasi Jurnal Sinta 5 di JAEF (Jurnal of Ac...
3072  2024-05-02   20232   Do Government Efforts and Commitments Affect ...
3073  2024-06-01   20232  Jurnal Sinta-4\nhttps://jurnal.politeknik-kebu...
3074  2024-06-03   20232  Link Jurnal\nThree Phases of Human Development...
3075  2024-06-25   20232  Mahasiswa\nKenley Maccauley Riyono\nKarisma Na...
3076  2024-06-25   20232  Mahasiswa\nBryan Poaler\nKenley Maccauley Riyo...
3077  2024-07-18   20232               INTERNATIONAL CONFERENCE KRA XI 2024
3078  2024-09-20   20241  Narasumber TPD untuk Guru PoE & Ekonomi Pasar ...
3079  2024-09-24   20241  Narasumber sharing knowledge kegiatan Bizweek ...
3080  2024-11-05   20241    International Dewantara Audit and Tax Challenge
3081  2024-10-03   20241  Pencipta\n1. Wirawan Endro Dwi Radianto (Dosen...
3082  2024-10-03   20241  Pencipta\n1. Wirawan Endro Dwi Radianto (Dosen...
3083  2024-11-15   20241  The Thirteenth International Conference on Ent...
3084  2024-11-28   20241  Narasumber Internasional Universade Da Paz Tim...
3085  2024-11-29   20241  Narasumber untuk SMA Kristen Petra 1 Mengenai ...
3086  2024-12-08   20241  Penulis pertama pada salah satu buku yang tela...
3087  2024-12-08   20241  10th International CEO Congress Presenter "The...
3088  2024-12-18   20241  Hak Kekayaan Intelektual (HKI) Resume/Ringkasa...
3089  2024-12-18   20241  Hak Kekayaan Intelektual (HKI)\nMahasiswa\nKen...
3090  2024-12-18   20241  Hak Kekayaan Intelektual (HKI)\nMahasiswa\nKen...

                           Category  ... Point  \
3064  Rumpun Keterampilan Penunjang  ...    10
3065  Rumpun Keterampilan Penunjang  ...     9
3066  Rumpun Keterampilan Penunjang  ...    30
3067  Rumpun Keterampilan Penunjang  ...    40
3068  Rumpun Keterampilan Penunjang  ...    20
3069  Rumpun Keterampilan Penunjang  ...    20
3070  Rumpun Keterampilan Penunjang  ...    24
3071  Rumpun Keterampilan Penunjang  ...    40
3072  Rumpun Keterampilan Penunjang  ...    24
3073  Rumpun Keterampilan Penunjang  ...    24
3074  Rumpun Keterampilan Penunjang  ...    36
3075  Rumpun Keterampilan Penunjang  ...     8
3076  Rumpun Keterampilan Penunjang  ...     4
3077  Rumpun Keterampilan Penunjang  ...    20
3078  Rumpun Keterampilan Penunjang  ...     4
3079  Rumpun Keterampilan Penunjang  ...     5
3080  Rumpun Keterampilan Penunjang  ...    30
3081  Rumpun Keterampilan Penunjang  ...     1
3082  Rumpun Keterampilan Penunjang  ...     1
3083  Rumpun Keterampilan Penunjang  ...    20
3084  Rumpun Keterampilan Penunjang  ...    20
3085  Rumpun Keterampilan Penunjang  ...     4
3086  Rumpun Keterampilan Penunjang  ...    40
3087  Rumpun Keterampilan Penunjang  ...    20
3088  Rumpun Keterampilan Penunjang  ...    20
3089  Rumpun Keterampilan Penunjang  ...    20
3090  Rumpun Keterampilan Penunjang  ...    20

                                                Website  \
3064                                                NaN
3065                                                NaN
3066                                                NaN
3067                                                NaN
3068                                                NaN
3069                                                NaN
3070  https://journal.universitaspahlawan.ac.id/inde...
3071  https://journal.uc.ac.id/index.php/JAEF/articl...
3072  https://journal-laaroiba.com/ojs/index.php/alk...
3073  https://jurnal.politeknik-kebumen.ac.id/E-Bis/...
3074  https://journal-laaroiba.com/ojs/index.php/elm...
3075                                                NaN
3076                                                NaN
3077                                                NaN
3078                                                NaN
3079                                                NaN
3080  https://www.instagram.com/p/DBirN0pvwmk/?utm_s...
3081                                                NaN
3082                                                NaN
3083                                                NaN
3084                                                NaN
3085                                                NaN
3086                         https://ceocongress.org/en
3087                                                NaN
3088                                                NaN
3089                                                NaN
3090                                                NaN

                                            Certificate  \
3064                                                NaN
3065  https://employee.uc.ac.id/index.php/file/get/s...
3066                                                NaN
3067  https://employee.uc.ac.id/index.php/file/get/s...
3068  https://employee.uc.ac.id/index.php/file/get/s...
3069  https://employee.uc.ac.id/index.php/file/get/s...
3070                                                NaN
3071                                                NaN
3072                                                NaN
3073  https://employee.uc.ac.id/index.php/file/get/s...
3074                                                NaN
3075                                                NaN
3076                                                NaN
3077  https://employee.uc.ac.id/index.php/file/get/s...
3078  https://employee.uc.ac.id/index.php/file/get/s...
3079  https://employee.uc.ac.id/index.php/file/get/s...
3080  https://employee.uc.ac.id/index.php/file/get/s...
3081                                                NaN
3082                                                NaN
3083  https://employee.uc.ac.id/index.php/file/get/s...
3084  https://employee.uc.ac.id/index.php/file/get/s...
3085  https://employee.uc.ac.id/index.php/file/get/s...
3086  https://employee.uc.ac.id/index.php/file/get/s...
3087  https://employee.uc.ac.id/index.php/file/get/s...
3088                                                NaN
3089                                                NaN
3090                                                NaN

                                      Assignment Letter  \
3064  https://employee.uc.ac.id/index.php/file/get/s...
3065                                                NaN
3066  https://employee.uc.ac.id/index.php/file/get/s...
3067                                                NaN
3068  https://employee.uc.ac.id/index.php/file/get/s...
3069  https://employee.uc.ac.id/index.php/file/get/s...
3070  https://employee.uc.ac.id/index.php/file/get/s...
3071  https://employee.uc.ac.id/index.php/file/get/s...
3072  https://employee.uc.ac.id/index.php/file/get/s...
3073  https://employee.uc.ac.id/index.php/file/get/s...
3074  https://employee.uc.ac.id/index.php/file/get/s...
3075  https://employee.uc.ac.id/index.php/file/get/s...
3076  https://employee.uc.ac.id/index.php/file/get/s...
3077  https://employee.uc.ac.id/index.php/file/get/s...
3078  https://employee.uc.ac.id/index.php/file/get/s...
3079  https://employee.uc.ac.id/index.php/file/get/s...
3080  https://employee.uc.ac.id/index.php/file/get/s...
3081  https://employee.uc.ac.id/index.php/file/get/s...
3082  https://employee.uc.ac.id/index.php/file/get/s...
3083  https://employee.uc.ac.id/index.php/file/get/s...
3084  https://employee.uc.ac.id/index.php/file/get/s...
3085  https://employee.uc.ac.id/index.php/file/get/s...
3086                                                NaN
3087  https://employee.uc.ac.id/index.php/file/get/s...
3088  https://employee.uc.ac.id/index.php/file/get/s...
3089  https://employee.uc.ac.id/index.php/file/get/s...
3090  https://employee.uc.ac.id/index.php/file/get/s...

                                                 Report  \
3064  https://employee.uc.ac.id/index.php/file/get/s...
3065                                                NaN
3066  https://employee.uc.ac.id/index.php/file/get/s...
3067                                                NaN
3068                                                NaN
3069                                                NaN
3070  https://employee.uc.ac.id/index.php/file/get/s...
3071  https://employee.uc.ac.id/index.php/file/get/s...
3072  https://employee.uc.ac.id/index.php/file/get/s...
3073  https://employee.uc.ac.id/index.php/file/get/s...
3074  https://employee.uc.ac.id/index.php/file/get/s...
3075  https://employee.uc.ac.id/index.php/file/get/s...
3076  https://employee.uc.ac.id/index.php/file/get/s...
3077                                                NaN
3078                                                NaN
3079                                                NaN
3080                                                NaN
3081  https://employee.uc.ac.id/index.php/file/get/s...
3082  https://employee.uc.ac.id/index.php/file/get/s...
3083                                                NaN
3084                                                NaN
3085                                                NaN
3086  https://employee.uc.ac.id/index.php/file/get/s...
3087                                                NaN
3088  https://employee.uc.ac.id/index.php/file/get/s...
3089  https://employee.uc.ac.id/index.php/file/get/s...
3090  https://employee.uc.ac.id/index.php/file/get/s...

                                          Documentation  \
3064                                                NaN
3065                                                NaN
3066                                                NaN
3067                                                NaN
3068                                                NaN
3069                                                NaN
3070                                                NaN
3071                                                NaN
3072                                                NaN
3073                                                NaN
3074                                                NaN
3075                                                NaN
3076                                                NaN
3077                                                NaN
3078                                                NaN
3079                                                NaN
3080  https://employee.uc.ac.id/index.php/file/get/s...
3081                                                NaN
3082                                                NaN
3083                                                NaN
3084                                                NaN
3085                                                NaN
3086                                                NaN
3087                                                NaN
3088                                                NaN
3089                                                NaN
3090                                                NaN

                                    Organizer  \
3064                     Fakultas Accounting
3065                      Universitas Ciputra
3066                               Accounting
3067             Universitas Ciputra Surabaya
3068            UNIVERSITAS NEGERI YOGYAKARTA
3069                               AIPBM ICPM
3070     UNIVERSITAS PAHLAWAN TUANKU TAMBUSAI
3071                      Universitas Ciputra
3072                                Al-Kharaj
3073                                   Jurnal
3074                                   El-Mal
3075  KEMENTERIAN HUKUM DAN HAK ASASI MANUSIA
3076  KEMENTERIAN HUKUM DAN HAK ASASI MANUSIA
3077                 Ikatan Akuntan Indonesia
3078                      Universitas Ciputra
3079         Universitas Ciputra Fakultas SBM
3080     Universitas Sarjanawiyata Tamansiswa
3081  KEMENTERIAN HUKUM DAN HAK ASASI MANUSIA
3082  KEMENTERIAN HUKUM DAN HAK ASASI MANUSIA
3083                 Universitas Tarumanegara
3084                      Universitas Ciputra
3085                      Universitas Ciputra
3086                             CEO Congress
3087             Career Point University Kota
3088     REPUBLIK INDONESIA KEMENTERIAN HUKUM
3089     REPUBLIK INDONESIA KEMENTERIAN HUKUM
3090     REPUBLIK INDONESIA KEMENTERIAN HUKUM

                                   Field  \
3064  Pemberdayaan atau Aksi Kemanusiaan
3065                           Kompetisi
3066  Pemberdayaan atau Aksi Kemanusiaan
3067                    Karir Organisasi
3068                           Pengakuan
3069                           Pengakuan
3070                         Hasil Karya
3071                         Hasil Karya
3072                         Hasil Karya
3073                         Hasil Karya
3074                         Hasil Karya
3075                         Hasil Karya
3076                         Hasil Karya
3077                           Pengakuan
3078                           Pengakuan
3079                           Pengakuan
3080                           Kompetisi
3081                         Hasil Karya
3082                         Hasil Karya
3083                           Pengakuan
3084                           Pengakuan
3085                           Pengakuan
3086                         Hasil Karya
3087                           Pengakuan
3088                         Hasil Karya
3089                         Hasil Karya
3090                         Hasil Karya

                                               Criteria Score
3064  Pengabdian kepada Masyarakat|External Internat...    25
3065     Juara 2 Lomba/Kompetisi|Kab/Kota/PT|Individual     0
3066  Pengabdian kepada Masyarakat|Kab/Kota/PT|Indiv...     3
3067                  Sekretaris|Kab/Kota/PT|Individual     6
3068  Narasumber / Pemateri Acara Seminar / Workshop...    25
3069  Narasumber / Pemateri Acara Seminar / Workshop...    25
3070  Jurnal terindeks sinta 5-6|External National|I...    30
3071  Jurnal terindeks sinta 5-6|External National|I...    30
3072  Jurnal terindeks sinta 3-4 |External National|...    30
3073  Jurnal terindeks sinta 3-4 |External National|...    30
3074  Jurnal terindeks sinta 3-4 |External National|...    30
3075  Hak Kekayaan Intelektual (HKI) non paten (Hak ...    20
3076  Hak Kekayaan Intelektual (HKI) non paten (Hak ...    20
3077  Narasumber / Pemateri Acara Seminar / Workshop...    25
3078  Narasumber / Pemateri Acara Seminar / Workshop...     0
3079  Narasumber / Pemateri Acara Seminar / Workshop...     0
3080  Juara I Lomba/Kompetisi|External International...    35
3081  Hak Kekayaan Intelektual (HKI) non paten (Hak ...    20
3082  Hak Kekayaan Intelektual (HKI) non paten (Hak ...    20
3083  Narasumber / Pemateri Acara Seminar / Workshop...    25
3084  Narasumber / Pemateri Acara Seminar / Workshop...    25
3085  Narasumber / Pemateri Acara Seminar / Workshop...     0
3086  Publikasi Buku ISBN / Penulis Utama|External I...     0
3087  Narasumber / Pemateri Acara Seminar / Workshop...    25
3088  Hak Kekayaan Intelektual (HKI) non paten (Hak ...    20
3089  Hak Kekayaan Intelektual (HKI) non paten (Hak ...    20
3090  Hak Kekayaan Intelektual (HKI) non paten (Hak ...    20

[27 rows x 24 columns]

In [175]:
df['Level'].value_counts()

Kab/Kota/PT               1594
External National         1266
External Regional          926
External International     437
External Provinsi           19
Name: Level, dtype: int64

In [176]:
df['Major'].value_counts()

Management - Reguler Class                     1127
Psychology                                      447
Communication Science                           417
Visual Communication Design                     342
Information System                              269
Tourism-Hotel, Tourism, Event, and Business     259
Informatics                                     243
Management - International Class                222
Accounting                                      205
Architecture                                    183
Medical                                         175
Tourism - Culinary Business                     155
Fashion Design and Business                     138
Food Technology Program                          60
Name: Major, dtype: int64

In [177]:
# Exclude Major HERE
# df = df[~df['Major'].str.contains('Visual Communication Design', na=False)]

# Set Major HERE
# df = df[df['Major'].str.contains('Visual Communication Design', na=False)]

Data yang dimiliki sudah relatively rapi, tapi untuk membantu processing data, maka data akan di sorting awal

In [178]:
# Sorting sesuai NIS
df_sorted = df.sort_values(by=['NIS'], ascending=True).reset_index(drop=True)
df_sorted.head()

,NIS,Name,Major,Student Year,Activity,Start Date,End Date,Period,Description,Category,...,Point,Website,Certificate,Assignment Letter,Report,Documentation,Organizer,Field,Criteria,Score
0,0106012110003,Aloysius Vincentzo Juwono,Management - Reguler Class,2021,Ko-or UCS Solution 2022/2023,2022-11-02,2023-04-01,20221,koor program kerja pengabdian masyarakat UCS S...,Rumpun Keterampilan Humanistik,...,14,NaN,NaN,https://employee.uc.ac.id/index.php/file/get/s...,https://employee.uc.ac.id/index.php/file/get/s...,NaN,Mentoring Departement,Pemberdayaan atau Aksi Kemanusiaan,Pengabdian kepada Masyarakat|Kab/Kota/PT|Indiv...,3
1,0106012110004,Nigel Himawan Candra,Management - Reguler Class,2021,IBM Social Day,2023-01-02,2023-05-18,20221,IBM Social Day UMKM Sambikrep 2023 UMKM Sambi ...,Rumpun Keterampilan Penunjang,...,5,NaN,NaN,https://employee.uc.ac.id/index.php/file/get/s...,https://employee.uc.ac.id/index.php/file/get/s...,NaN,IBM,Pemberdayaan atau Aksi Kemanusiaan,Pengabdian kepada Masyarakat|Kab/Kota/PT|Indiv...,3
2,0106012110004,Nigel Himawan Candra,Management - Reguler Class,2021,IBM Social Day 2023,2023-03-01,2023-07-01,20222,IBM Social Day 2023,Rumpun Keterampilan Penunjang,...,1,NaN,NaN,https://employee.uc.ac.id/index.php/file/get/s...,https://employee.uc.ac.id/index.php/file/get/s...,NaN,SU IBM,Pemberdayaan atau Aksi Kemanusiaan,Pengabdian kepada Masyarakat|External Regional...,15
3,0106012110008,Deylan Jevon Gunawan,Management - Reguler Class,2021,Juri Lomba RektorCup 2021,2021-11-25,2021-12-15,20211,Juri Lomba RektorCup 2021,Rumpun Keterampilan Penunjang,...,8,NaN,https://employee.uc.ac.id/index.php/file/get/s...,NaN,NaN,NaN,Student Council 2021/2022,Pengakuan,Juri|Kab/Kota/PT|Individual,0
4,0106012110008,Deylan Jevon Gunawan,Management - Reguler Class,2021,Eh maret,2022-04-24,2022-04-27,20212,juara 1 eh!preneur nama bisnis GIRi-GIRI,Rumpun Keterampilan Penunjang,...,10,NaN,https://employee.uc.ac.id/index.php/file/get/s...,NaN,NaN,NaN,Efortion,Kompetisi,Juara I Lomba/Kompetisi|Kab/Kota/PT|Team,0

Untuk kebutuhan PILMAPRES 2025, telah disediakan grading rubric untuk 7 total bidang di Pedoman PILMAPRES dimana ada beberapa rules yang harus dicatat. <br>
Rule pertama adalah seorang mahasiswa tidak boleh submit more than 4 scores per bidang/field. <br>
Rule kedua adalah seorang mahasiswa tidak boleh submit 10 scores secara total untuk 7 bidang tersebut. <br><br>

Untuk penanganan data mahasiswa yang telah submit more than 4 scores per field ataupun more than 10 secara total, ada beberapa pilihan seperti mengambil 4 scores tertinggi atau terkini per field dan 10 scores tertinggi atau terkini per student. Untuk case ini, akan diambil 4 scores tertinggi per field dan 10 scores tertinggi per student secara total.

In [179]:
# Rule: Max 4 scores per field per student
# Kalau ada yang submit diatas 4 kali di 1 bidang, maka ambil 4 score tertinggi student itu at that specific field
# df_sorted = df_sorted.reset_index(drop=True)

# df_filtered_field = df_sorted.groupby(['NIS', 'Field'], as_index=False).apply(lambda x: x.nlargest(4, 'Score')).reset_index(drop=True)
# df_filtered_field.head()

In [180]:
# Step 1: Filter the top 4 scores per field
df_sorted = df_sorted.reset_index(drop=True)
df_filtered_field = df_sorted.groupby(['NIS', 'Field'], as_index=False).apply(lambda x: x.nlargest(4, 'Score')).reset_index(drop=True)

# Step 2: Count total entries per student and ensure the top 10 scores
entry_counts = df_filtered_field.groupby('NIS').size().reset_index(name='Entry_Count')

# Step 3: For students with more than 10 entries, take the top 10 scores
df_filtered_field = df_filtered_field.groupby('NIS').apply(lambda x: x.nlargest(10, 'Score')).reset_index(drop=True)

# Display the filtered result
print(df_filtered_field.head())

             NIS                       Name                       Major  \
0  0106012110003  Aloysius Vincentzo Juwono  Management - Reguler Class
1  0106012110004       Nigel Himawan Candra  Management - Reguler Class
2  0106012110004       Nigel Himawan Candra  Management - Reguler Class
3  0106012110008       Deylan Jevon Gunawan  Management - Reguler Class
4  0106012110008       Deylan Jevon Gunawan  Management - Reguler Class

   Student Year                                           Activity  \
0          2021                       Ko-or UCS Solution 2022/2023
1          2021                                IBM Social Day 2023
2          2021                                     IBM Social Day
3          2021                            IBM Goes to School 2023
4          2021  Mengisi Intrakulikuler “KEWIRAUSAHAAN” bagi si...

   Start Date    End Date  Period  \
0  2022-11-02  2023-04-01   20221
1  2023-03-01  2023-07-01   20222
2  2023-01-02  2023-05-18   20221
3  2023-01-01  2023-05-01   20221
4  2023-08-01  2023-09-30   20222

                                         Description  \
0  koor program kerja pengabdian masyarakat UCS S...
1                                IBM Social Day 2023
2  IBM Social Day UMKM Sambikrep 2023 UMKM Sambi ...
3  KP penasehat, sekretaris, bendahara, dan koor ...
4  Mengisi Intrakulikuler “KEWIRAUSAHAAN” bagi si...

                         Category  ... Point Website Certificate  \
0  Rumpun Keterampilan Humanistik  ...    14     NaN         NaN
1   Rumpun Keterampilan Penunjang  ...     1     NaN         NaN
2   Rumpun Keterampilan Penunjang  ...     5     NaN         NaN
3   Rumpun Keterampilan Penunjang  ...     8     NaN         NaN
4   Rumpun Keterampilan Penunjang  ...    30     NaN         NaN

                                   Assignment Letter  \
0  https://employee.uc.ac.id/index.php/file/get/s...
1  https://employee.uc.ac.id/index.php/file/get/s...
2  https://employee.uc.ac.id/index.php/file/get/s...
3  https://employee.uc.ac.id/index.php/file/get/s...
4  https://employee.uc.ac.id/index.php/file/get/s...

                                              Report Documentation  \
0  https://employee.uc.ac.id/index.php/file/get/s...           NaN
1  https://employee.uc.ac.id/index.php/file/get/s...           NaN
2  https://employee.uc.ac.id/index.php/file/get/s...           NaN
3  https://employee.uc.ac.id/index.php/file/get/s...           NaN
4  https://employee.uc.ac.id/index.php/file/get/s...           NaN

               Organizer                               Field  \
0  Mentoring Departement  Pemberdayaan atau Aksi Kemanusiaan
1                 SU IBM  Pemberdayaan atau Aksi Kemanusiaan
2                    IBM  Pemberdayaan atau Aksi Kemanusiaan
3           SU IBM 22/23  Pemberdayaan atau Aksi Kemanusiaan
4                 IBM RC  Pemberdayaan atau Aksi Kemanusiaan

                                            Criteria Score
0  Pengabdian kepada Masyarakat|Kab/Kota/PT|Indiv...     3
1  Pengabdian kepada Masyarakat|External Regional...    15
2  Pengabdian kepada Masyarakat|Kab/Kota/PT|Indiv...     3
3  Pengabdian kepada Masyarakat|External Regional...    15
4  Pengabdian kepada Masyarakat|External Regional...    15

[5 rows x 24 columns]

In [181]:
exceeds_limit = (
    df_filtered_field.groupby(['NIS', 'Field'])
    .size()
    .reset_index(name='Count')
    .query('Count > 4')
)

if exceeds_limit.empty:
    print("Grouping by the 4 largest scores works correctly. No group exceeds 4 entries.")
else:
    print("The following groups exceed 4 entries:")
    print(exceeds_limit)

Grouping by the 4 largest scores works correctly. No group exceeds 4 entries.

In [182]:
df_filtered_field['Level'].value_counts()

Kab/Kota/PT               1517
External National         1130
External Regional          916
External International     429
External Provinsi           19
Name: Level, dtype: int64

In [183]:
df_filtered_field['Status'].value_counts()

Pengabdian kepada Masyarakat                                  1410
Juara I Lomba/Kompetisi                                        557
Juara 2 Lomba/Kompetisi                                        445
Juara 3 Lomba/Kompetisi                                        361
Narasumber / Pemateri Acara Seminar / Workshop / Pemakalah     344
Hak Kekayaan Intelektual (HKI) non paten (Hak Cipta)           326
Sekretaris                                                     242
Ketua                                                          109
Jurnal terindeks sinta 3-4                                      61
Wakil Ketua                                                     59
Jurnal terindeks sinta 5-6                                      38
Juri                                                            37
Jurnal Internasional (non predator)                              6
Satu tingkat dibawah pengurus harian                             5
Publikasi Buku ISBN / Penulis Utama                              4
Jurnal Terindeks Sinta 1-2                                       4
Jurnal Bereputasi Internasional                                  3
Name: Status, dtype: int64

In [184]:
df_filtered_field['Major'].value_counts()

Management - Reguler Class                     1084
Psychology                                      397
Communication Science                           383
Visual Communication Design                     319
Information System                              255
Tourism-Hotel, Tourism, Event, and Business     247
Informatics                                     237
Management - International Class                212
Accounting                                      183
Architecture                                    177
Medical                                         175
Tourism - Culinary Business                     155
Fashion Design and Business                     135
Food Technology Program                          52
Name: Major, dtype: int64

In [185]:
result = (
    df_filtered_field.groupby(['NIS', 'Name', 'Field'])['Score']
    .agg(Total='count',Score='sum')
    .reset_index()
)

print(result.head())

             NIS                       Name  \
0  0106012110003  Aloysius Vincentzo Juwono
1  0106012110004       Nigel Himawan Candra
2  0106012110008       Deylan Jevon Gunawan
3  0106012110008       Deylan Jevon Gunawan
4  0106012110008       Deylan Jevon Gunawan

                                Field  Total  Score
0  Pemberdayaan atau Aksi Kemanusiaan      1      3
1  Pemberdayaan atau Aksi Kemanusiaan      2     18
2                           Kompetisi      1      0
3  Pemberdayaan atau Aksi Kemanusiaan      2     30
4                           Pengakuan      1      0

In [186]:
validation = result.groupby(['NIS', 'Name', 'Field']).agg({'Total': 'sum', 'Score': 'sum'}).reset_index()
print(validation)

                NIS                       Name  \
0     0106012110003  Aloysius Vincentzo Juwono
1     0106012110004       Nigel Himawan Candra
2     0106012110008       Deylan Jevon Gunawan
3     0106012110008       Deylan Jevon Gunawan
4     0106012110008       Deylan Jevon Gunawan
...             ...                        ...
2785  0706022310043                Anne Tantan
2786  0706022310047     Dwinda Audia Irnaonefa
2787  0706022310047     Dwinda Audia Irnaonefa
2788  0706022310055      Tsania Candraningtyas
2789  0706022310063      Marion Arkan Wibisono

                                   Field  Total  Score
0     Pemberdayaan atau Aksi Kemanusiaan      1      3
1     Pemberdayaan atau Aksi Kemanusiaan      2     18
2                              Kompetisi      1      0
3     Pemberdayaan atau Aksi Kemanusiaan      2     30
4                              Pengakuan      1      0
...                                  ...    ...    ...
2785  Pemberdayaan atau Aksi Kemanusiaan      1     15
2786                           Kompetisi      1      0
2787  Pemberdayaan atau Aksi Kemanusiaan      1     15
2788  Pemberdayaan atau Aksi Kemanusiaan      1     15
2789                           Kompetisi      1      0

[2790 rows x 5 columns]

In [197]:
kenley_rows = validation[validation['Name'] == "Nicklaus Stanley"]

# Display the filtered rows
print(kenley_rows)

                NIS              Name                               Field  \
1020  0106042210008  Nicklaus Stanley                         Hasil Karya
1021  0106042210008  Nicklaus Stanley                           Kompetisi
1022  0106042210008  Nicklaus Stanley  Pemberdayaan atau Aksi Kemanusiaan
1023  0106042210008  Nicklaus Stanley                           Pengakuan

      Total  Score
1020      4    120
1021      1     35
1022      2     35
1023      3     75

In [188]:
# Pivot the table to make 'Field' values as columns for 'Field_Score' and 'Total_Entries'
pivot_result = result.pivot_table(
    index=['NIS', 'Name'],  # Group by NIS and Name
    columns='Field',        # Fields become columns
    values=['Total', 'Score'],  # Aggregate these values
    aggfunc='sum',          # Use sum for aggregation
    fill_value=0            # Fill missing values with 0
)

# Flatten the MultiIndex (optional)
# pivot_result.columns = [f'{col[1]}' for col in pivot_result.columns]  # Flatten multi-level column names
# pivot_result.reset_index(inplace=True)

pivot_result.columns = [
    col[1] if isinstance(col, tuple) and col[0] in ['Score', 'Total'] else col
    for col in pivot_result.columns
]
pivot_result.reset_index(inplace=True)

# Display the pivoted result
print(pivot_result.head())

# Save the pivoted result to a CSV file or Excel file
pivot_result.to_excel('C:\\Users\\hansj\\OneDrive\\Documents\\Student Affairs\\Projects\\PILMAPRES\\main\\output\\pivoted_student_total_scores.xlsx', index=False)

print("Pivoted file saved.")

             NIS                       Name  Hasil Karya  Karir Organisasi  \
0  0106012110003  Aloysius Vincentzo Juwono            0                 0
1  0106012110004       Nigel Himawan Candra            0                 0
2  0106012110008       Deylan Jevon Gunawan            0                 0
3  0106012110014        Matthew Ryan Benkel            0                 0
4  0106012110020    Andre Suryajaya Sanyoto            0                 0

   Kompetisi  Pemberdayaan atau Aksi Kemanusiaan  Pengakuan  Hasil Karya  \
0          0                                   3          0            0
1          0                                  18          0            0
2          0                                  30          0            0
3          0                                   0          0            0
4          0                                   0          0            0

   Karir Organisasi  Kompetisi  Pemberdayaan atau Aksi Kemanusiaan  Pengakuan
0                 0          0                                   1          0
1                 0          0                                   2          0
2                 0          1                                   2          1
3                 0          1                                   0          0
4                 0          1                                   0          0
Pivoted file saved.

In [189]:
kenley_pivoted = pivot_result[pivot_result['Name'] == "Kenley Maccauley Riyono"]

# Display the filtered rows
print(kenley_pivoted)

               NIS                     Name  Hasil Karya  Karir Organisasi  \
700  0106042210012  Kenley Maccauley Riyono          120                 0

     Kompetisi  Pemberdayaan atau Aksi Kemanusiaan  Pengakuan  Hasil Karya  \
700         35                                  25        100            4

     Karir Organisasi  Kompetisi  Pemberdayaan atau Aksi Kemanusiaan  \
700                 0          1                                   1

     Pengakuan
700          4

In [190]:
# Sum of scores per bidang per student
df_field_totals = df_filtered_field.groupby(['NIS', 'Name', 'Major', 'Field'])['Score'].sum().reset_index()
df_field_totals.head()

,NIS,Name,Major,Field,Score
0,0106012110003,Aloysius Vincentzo Juwono,Management - Reguler Class,Pemberdayaan atau Aksi Kemanusiaan,3
1,0106012110004,Nigel Himawan Candra,Management - Reguler Class,Pemberdayaan atau Aksi Kemanusiaan,18
2,0106012110008,Deylan Jevon Gunawan,Management - Reguler Class,Kompetisi,0
3,0106012110008,Deylan Jevon Gunawan,Management - Reguler Class,Pemberdayaan atau Aksi Kemanusiaan,30
4,0106012110008,Deylan Jevon Gunawan,Management - Reguler Class,Pengakuan,0

In [191]:
# Sum of scores per student
df_total_scores_per_student = df_field_totals.groupby(['NIS', 'Name', 'Major'])['Score'].sum().reset_index()
df_total_scores_per_student.head()

             NIS                       Name                       Major  Score
0  0106012110003  Aloysius Vincentzo Juwono  Management - Reguler Class      3
1  0106012110004       Nigel Himawan Candra  Management - Reguler Class     18
2  0106012110008       Deylan Jevon Gunawan  Management - Reguler Class     30
3  0106012110014        Matthew Ryan Benkel  Management - Reguler Class      0
4  0106012110020    Andre Suryajaya Sanyoto  Management - Reguler Class      0

In [192]:
top_10_students_list = []

# Process each major separately
for major in df_total_scores_per_student['Major'].unique():
    # Filter the dataframe for the current major
    df_major = df_total_scores_per_student[df_total_scores_per_student['Major'] == major]

    # Sort by Score in descending order
    df_major_sorted = df_major.sort_values(by='Score', ascending=False)

    # Take the top 10 students for this major
    df_top_10_major = df_major_sorted.head(10)

    # Append the result to the list
    top_10_students_list.append(df_top_10_major)

In [193]:
df_top_10_all = pd.concat(top_10_students_list)
df_top_10_all.head()

               NIS                    Name                       Major  Score
219  0106012210052   Brian Timothy Santoso  Management - Reguler Class    174
126  0106012110276     Neola Omar Avizenna  Management - Reguler Class    139
68   0106012110151  Valentino Limbang Jaya  Management - Reguler Class    130
191  0106012210008        Ferdinand Edbert  Management - Reguler Class    124
25   0106012110070         Evelin Sutrisno  Management - Reguler Class    119

In [194]:
df_top_10_all = df_top_10_all.sort_values(by=['Major'], ascending=True)
df_top_10_all.head()

               NIS                       Name       Major  Score
689  0106042110048          Fabian Benediktus  Accounting    143
685  0106042110044  Cinthya Oktaviana Nugroho  Accounting    154
672  0106042110018     Laurentia Yuke Elsinta  Accounting    115
670  0106042110014       Thasya Hery Saputera  Accounting    110
686  0106042110045  Adeline Hamidy Kushandojo  Accounting    106

In [195]:
output_path = 'C:\\Users\\hansj\\OneDrive\\Documents\\Student Affairs\\Projects\\PILMAPRES\\main\\output\\output.xlsx'
df_top_10_all.to_excel(output_path, index=False)

In [196]:
# Assuming you already have the combined DataFrame from multiple sheets
# Group by NIS, Name, Major, and Field to count the number of submissions per field
df_field_counts = df.groupby(['NIS', 'Name', 'Major', 'Field']).size().reset_index(name='Submissions')

# Now, pivot the data to create a column for each Field showing the number of submissions per student
df_pivot = df_field_counts.pivot_table(index=['NIS', 'Name', 'Major'], 
                                       columns='Field', 
                                       values='Submissions', 
                                       fill_value=0)

# Merge the pivoted DataFrame with the original DataFrame containing the total scores
# Assuming df_total_scores_per_student has the total scores per student
df_final = df_total_scores_per_student.merge(df_pivot, on=['NIS', 'Name', 'Major'], how='left')

# Fill any missing values with 0 for students who don't have submissions in certain fields
df_final.fillna(0, inplace=True)

# Display the final DataFrame
print(df_final.head())

output_path = 'C:\\Users\\hansj\\OneDrive\\Documents\\Student Affairs\\Projects\\PILMAPRES\\main\\output\\test.xlsx'
df_final.to_excel(output_path, index=False)

             NIS                       Name                       Major  \
0  0106012110003  Aloysius Vincentzo Juwono  Management - Reguler Class
1  0106012110004       Nigel Himawan Candra  Management - Reguler Class
2  0106012110008       Deylan Jevon Gunawan  Management - Reguler Class
3  0106012110014        Matthew Ryan Benkel  Management - Reguler Class
4  0106012110020    Andre Suryajaya Sanyoto  Management - Reguler Class

   Score  Hasil Karya  Karir Organisasi  Kompetisi  \
0      3            0                 0          0
1     18            0                 0          0
2     30            0                 0          1
3      0            0                 0          1
4      0            0                 0          1

   Pemberdayaan atau Aksi Kemanusiaan  Pengakuan
0                                   1          0
1                                   2          0
2                                   2          1
3                                   0          0
4                                   0          0