In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
# file_path = 'dataset/pilmapres.xlsx'

# sheets = ['2021', '2022', '2023']

# df_sheets = pd.read_excel(file_path, sheet_name=sheets, dtype={'NIS': str})

In [3]:
file_21 = 'dataset/new/21.xlsx'
file_22 = 'dataset/new/22.xlsx'
file_23 = 'dataset/new/23.xlsx'

df_21 = pd.read_excel(file_21, sheet_name='Worksheet', dtype={'NIS': str})
df_22 = pd.read_excel(file_22, sheet_name='Worksheet', dtype={'NIS': str})
df_23 = pd.read_excel(file_23, sheet_name='Worksheet', dtype={'NIS': str})

In [4]:
# df_2021 = df_sheets['2021']
# df_2022 = df_sheets['2022']
# df_2023 = df_sheets['2023']

df = pd.concat([df_21, df_22, df_23], ignore_index=True)

In [5]:
# strings_to_filter = ['External Regional', 'Regional', 'International']

# pattern = '|'.join(strings_to_filter)

In [6]:
df = df[~df['Level'].isin(['Internal Jurusan', 'Internal Sekolah / Universitas', 'External Regional'])]

In [7]:
df['Level'].value_counts()

External National         1329
External International     445
External Provinsi           19
Name: Level, dtype: int64

In [8]:
df['Major'].value_counts()

Management - Reguler Class                     499
Psychology                                     216
Communication Science                          196
Visual Communication Design                    131
Accounting                                     126
Informatics                                    108
Information System                             106
Management - International Class                74
Architecture                                    64
Fashion Design and Business                     57
Tourism-Hotel, Tourism, Event, and Business     47
Magister of Management                          45
Medical                                         42
Tourism - Culinary Business                     31
Food Technology Program                         25
Magister of Management (BUF)                    16
Management S3                                   10
Name: Major, dtype: int64

In [9]:
# Exclude Major HERE
# df = df[~df['Major'].str.contains('Visual Communication Design', na=False)]

# Set Major HERE
# df = df[df['Major'].str.contains('Visual Communication Design', na=False)]

Data yang dimiliki sudah relatively rapi, tapi untuk membantu processing data, maka data akan di sorting awal

In [10]:
# Sorting sesuai NIS
df_sorted = df.sort_values(by=['NIS'], ascending=True).reset_index(drop=True)
df_sorted.head()

,NIS,Name,Major,Student Year,Activity,Start Date,End Date,Period,Description,Category,...,Point,Website,Certificate,Assignment Letter,Report,Documentation,Organizer,Field,Criteria,Score
0,0106012110024,Michelle Henny Limbono,Management - Reguler Class,2021,6th MANUFAIR (Management Education Fair Nation...,2022-09-25,2022-11-05,20221,Saya bersama Tim mengikuti perlombaan business...,Rumpun Keterampilan Penunjang,...,25,https://www.instagram.com/p/Ci7f5k1 Je7W/2igsh...,https://employee.uc.ac.id/index.php/file/get/s...,https://employee.uc.ac.id/index.php/file/get/s...,NaN,https://employee.uc.ac.id/index.php/file/get/s...,Universitas Negeri Jember,Kompetisi,Juara I Lomba/Kompetisi|External National|Team,15
1,0106012110036,Jesslyn Andressah,Management - Reguler Class,2021,PKM Singapura Strategi Marketing Usaha Mikro,2022-09-24,2023-09-24,20221,PKM SINGAPURA\nStrategi Marketing Usaha Mikro\...,Rumpun Keterampilan Penunjang,...,12,NaN,https://employee.uc.ac.id/index.php/file/get/s...,NaN,NaN,NaN,"Dr. Sri Nathasya Br Sitepu, S.E., M.Ec., Dev.",Hasil Karya,Hak Kekayaan Intelektual (HKI) non paten (Hak ...,20
2,0106012110036,Jesslyn Andressah,Management - Reguler Class,2021,PKM Singapura Operasional Produksi,2023-04-02,2023-04-02,20222,Operasional Produksi\nKelas Entrepreneurship D...,Rumpun Keterampilan Penunjang,...,12,NaN,NaN,https://employee.uc.ac.id/index.php/file/get/s...,https://employee.uc.ac.id/index.php/file/get/s...,NaN,"Dr. Sri Nathasya Br Sitepu, S.E., M.Ec., Dev.",Hasil Karya,Hak Kekayaan Intelektual (HKI) non paten (Hak ...,20
3,0106012110040,Ricca Arifa Rachman,Management - Reguler Class,2021,Operasional Produksi Kelas Entrepreurship Deve...,2023-04-16,2023-04-16,20222,Operasional Produksi\nKelas Entrepreneurship D...,Rumpun Keterampilan Penunjang,...,9,NaN,NaN,https://employee.uc.ac.id/index.php/file/get/s...,https://employee.uc.ac.id/index.php/file/get/s...,NaN,"Dr. Sri Nathasya Br Sitepu, S.E., M.Ec., Dev.",Hasil Karya,Hak Kekayaan Intelektual (HKI) non paten (Hak ...,0
4,0106012110040,Ricca Arifa Rachman,Management - Reguler Class,2021,PKM SINGAPURA Aplikasi Tools Marketing,2023-10-01,2023-10-01,20231,"PKM SINGAPURA Aplikasi Tools Marketing Minggu,...",Rumpun Keterampilan Penunjang,...,6,NaN,NaN,https://employee.uc.ac.id/index.php/file/get/s...,https://employee.uc.ac.id/index.php/file/get/s...,NaN,"Dr. Sri Nathasya Br Sitepu, S.E., M.Ec., Dev.",Hasil Karya,Hak Kekayaan Intelektual (HKI) non paten (Hak ...,20

Untuk kebutuhan PILMAPRES 2025, telah disediakan grading rubric untuk 7 total bidang di Pedoman PILMAPRES dimana ada beberapa rules yang harus dicatat. <br>
Rule pertama adalah seorang mahasiswa tidak boleh submit more than 4 scores per bidang/field. <br>
Rule kedua adalah seorang mahasiswa tidak boleh submit 10 scores secara total untuk 7 bidang tersebut. <br><br>

Untuk penanganan data mahasiswa yang telah submit more than 4 scores per field ataupun more than 10 secara total, ada beberapa pilihan seperti mengambil 4 scores tertinggi atau terkini per field dan 10 scores tertinggi atau terkini per student. Untuk case ini, akan diambil 4 scores tertinggi per field dan 10 scores tertinggi per student secara total.

In [11]:
# Rule: Max 4 scores per field per student
# Kalau ada yang submit diatas 4 kali di 1 bidang, maka ambil 4 score tertinggi student itu at that specific field
df_sorted = df_sorted.reset_index(drop=True)

df_filtered_field = df_sorted.groupby(['NIS', 'Field'], as_index=False).apply(lambda x: x.nlargest(4, 'Score')).reset_index(drop=True)
df_filtered_field.head()

,NIS,Name,Major,Student Year,Activity,Start Date,End Date,Period,Description,Category,...,Point,Website,Certificate,Assignment Letter,Report,Documentation,Organizer,Field,Criteria,Score
0,0106012110024,Michelle Henny Limbono,Management - Reguler Class,2021,6th MANUFAIR (Management Education Fair Nation...,2022-09-25,2022-11-05,20221,Saya bersama Tim mengikuti perlombaan business...,Rumpun Keterampilan Penunjang,...,25,https://www.instagram.com/p/Ci7f5k1 Je7W/2igsh...,https://employee.uc.ac.id/index.php/file/get/s...,https://employee.uc.ac.id/index.php/file/get/s...,NaN,https://employee.uc.ac.id/index.php/file/get/s...,Universitas Negeri Jember,Kompetisi,Juara I Lomba/Kompetisi|External National|Team,15
1,0106012110036,Jesslyn Andressah,Management - Reguler Class,2021,PKM Singapura Strategi Marketing Usaha Mikro,2022-09-24,2023-09-24,20221,PKM SINGAPURA\nStrategi Marketing Usaha Mikro\...,Rumpun Keterampilan Penunjang,...,12,NaN,https://employee.uc.ac.id/index.php/file/get/s...,NaN,NaN,NaN,"Dr. Sri Nathasya Br Sitepu, S.E., M.Ec., Dev.",Hasil Karya,Hak Kekayaan Intelektual (HKI) non paten (Hak ...,20
2,0106012110036,Jesslyn Andressah,Management - Reguler Class,2021,PKM Singapura Operasional Produksi,2023-04-02,2023-04-02,20222,Operasional Produksi\nKelas Entrepreneurship D...,Rumpun Keterampilan Penunjang,...,12,NaN,NaN,https://employee.uc.ac.id/index.php/file/get/s...,https://employee.uc.ac.id/index.php/file/get/s...,NaN,"Dr. Sri Nathasya Br Sitepu, S.E., M.Ec., Dev.",Hasil Karya,Hak Kekayaan Intelektual (HKI) non paten (Hak ...,20
3,0106012110040,Ricca Arifa Rachman,Management - Reguler Class,2021,PKM SINGAPURA Aplikasi Tools Marketing,2023-10-01,2023-10-01,20231,"PKM SINGAPURA Aplikasi Tools Marketing Minggu,...",Rumpun Keterampilan Penunjang,...,6,NaN,NaN,https://employee.uc.ac.id/index.php/file/get/s...,https://employee.uc.ac.id/index.php/file/get/s...,NaN,"Dr. Sri Nathasya Br Sitepu, S.E., M.Ec., Dev.",Hasil Karya,Hak Kekayaan Intelektual (HKI) non paten (Hak ...,20
4,0106012110040,Ricca Arifa Rachman,Management - Reguler Class,2021,Operasional Produksi Kelas Entrepreurship Deve...,2023-04-16,2023-04-16,20222,Operasional Produksi\nKelas Entrepreneurship D...,Rumpun Keterampilan Penunjang,...,9,NaN,NaN,https://employee.uc.ac.id/index.php/file/get/s...,https://employee.uc.ac.id/index.php/file/get/s...,NaN,"Dr. Sri Nathasya Br Sitepu, S.E., M.Ec., Dev.",Hasil Karya,Hak Kekayaan Intelektual (HKI) non paten (Hak ...,0

In [12]:
exceeds_limit = (
    df_filtered_field.groupby(['NIS', 'Field'])
    .size()
    .reset_index(name='Count')
    .query('Count > 4')
)

if exceeds_limit.empty:
    print("Grouping by the 4 largest scores works correctly. No group exceeds 4 entries.")
else:
    print("The following groups exceed 4 entries:")
    print(exceeds_limit)

Grouping by the 4 largest scores works correctly. No group exceeds 4 entries.

In [13]:
df_filtered_field['Level'].value_counts()

External National         1195
External International     434
External Provinsi           19
Name: Level, dtype: int64

In [14]:
df_filtered_field['Status'].value_counts()

Hak Kekayaan Intelektual (HKI) non paten (Hak Cipta)          351
Narasumber / Pemateri Acara Seminar / Workshop / Pemakalah    311
Juara I Lomba/Kompetisi                                       272
Juara 2 Lomba/Kompetisi                                       205
Pengabdian kepada Masyarakat                                  192
Juara 3 Lomba/Kompetisi                                       166
Jurnal terindeks sinta 3-4                                     59
Jurnal terindeks sinta 5-6                                     46
Sekretaris                                                     10
Juri                                                            9
Jurnal Terindeks Sinta 1-2                                      8
Jurnal Internasional (non predator)                             7
Publikasi Buku ISBN / Penulis Utama                             5
Jurnal Bereputasi Internasional                                 4
Ketua                                                           3
Name: Status, dtype: int64

In [15]:
df_filtered_field['Major'].value_counts()

Management - Reguler Class                     462
Psychology                                     193
Communication Science                          177
Accounting                                     114
Visual Communication Design                    107
Informatics                                    106
Information System                             102
Architecture                                    64
Management - International Class                63
Fashion Design and Business                     57
Tourism-Hotel, Tourism, Event, and Business     46
Magister of Management                          45
Medical                                         42
Tourism - Culinary Business                     30
Food Technology Program                         17
Magister of Management (BUF)                    16
Management S3                                    7
Name: Major, dtype: int64

In [16]:
result = (
    df_filtered_field.groupby(['NIS', 'Name', 'Field'])['Score']
    .agg(Total='count',Score='sum')
    .reset_index()
)

print(result.head())

             NIS                     Name        Field  Total  Score
0  0106012110024   Michelle Henny Limbono    Kompetisi      1     15
1  0106012110036        Jesslyn Andressah  Hasil Karya      2     40
2  0106012110040      Ricca Arifa Rachman  Hasil Karya      2     20
3  0106012110042  Geovanka Cyndie Tiandya  Hasil Karya      2     40
4  0106012110043            Ricky Hartono  Hasil Karya      1     20

In [17]:
# Pivot the table to make 'Field' values as columns for 'Field_Score' and 'Total_Entries'
pivot_result = result.pivot_table(index=['NIS', 'Name'], 
                                  columns='Field', 
                                  values=['Total', 'Score'], 
                                  aggfunc={'Total': 'count', 'Score': 'sum'}, 
                                  fill_value=0)

# Flatten the MultiIndex (optional)
pivot_result.columns = [f'{col[0]}_{col[1]}' for col in pivot_result.columns]  # Flatten multi-level column names
pivot_result.reset_index(inplace=True)

# Display the pivoted result
print(pivot_result.head())

# Save the pivoted result to a CSV file or Excel file
pivot_result.to_excel('C:\\Users\\hansj\\OneDrive\\Documents\\Student Affairs\\Projects\\PILMAPRES\\main\\output\\pivoted_student_total_scores.xlsx', index=False)

print("Pivoted file saved.")

             NIS                     Name  Score_Hasil Karya  \
0  0106012110024   Michelle Henny Limbono                  0
1  0106012110036        Jesslyn Andressah                 40
2  0106012110040      Ricca Arifa Rachman                 20
3  0106012110042  Geovanka Cyndie Tiandya                 40
4  0106012110043            Ricky Hartono                 20

   Score_Karir Organisasi  Score_Kompetisi  \
0                       0               15
1                       0                0
2                       0                0
3                       0                0
4                       0                0

   Score_Pemberdayaan atau Aksi Kemanusiaan  Score_Pengakuan  \
0                                         0                0
1                                         0                0
2                                         0                0
3                                         0                0
4                                         0                0

   Total_Hasil Karya  Total_Karir Organisasi  Total_Kompetisi  \
0                  0                       0                1
1                  1                       0                0
2                  1                       0                0
3                  1                       0                0
4                  1                       0                0

   Total_Pemberdayaan atau Aksi Kemanusiaan  Total_Pengakuan
0                                         0                0
1                                         0                0
2                                         0                0
3                                         0                0
4                                         0                0
Pivoted file saved.

In [18]:
# Sum of scores per bidang per student
df_field_totals = df_filtered_field.groupby(['NIS', 'Name', 'Major', 'Field'])['Score'].sum().reset_index()
df_field_totals.head()

,NIS,Name,Major,Field,Score
0,0106012110024,Michelle Henny Limbono,Management - Reguler Class,Kompetisi,15
1,0106012110036,Jesslyn Andressah,Management - Reguler Class,Hasil Karya,40
2,0106012110040,Ricca Arifa Rachman,Management - Reguler Class,Hasil Karya,20
3,0106012110042,Geovanka Cyndie Tiandya,Management - Reguler Class,Hasil Karya,40
4,0106012110043,Ricky Hartono,Management - Reguler Class,Hasil Karya,20

In [19]:
# Sum of scores per student
df_total_scores_per_student = df_field_totals.groupby(['NIS', 'Name', 'Major'])['Score'].sum().reset_index()
df_total_scores_per_student.head()

             NIS                     Name                       Major  Score
0  0106012110024   Michelle Henny Limbono  Management - Reguler Class     15
1  0106012110036        Jesslyn Andressah  Management - Reguler Class     40
2  0106012110040      Ricca Arifa Rachman  Management - Reguler Class     20
3  0106012110042  Geovanka Cyndie Tiandya  Management - Reguler Class     40
4  0106012110043            Ricky Hartono  Management - Reguler Class     20

In [20]:
top_10_students_list = []

# Process each major separately
for major in df_total_scores_per_student['Major'].unique():
    # Filter the dataframe for the current major
    df_major = df_total_scores_per_student[df_total_scores_per_student['Major'] == major]

    # Sort by Score in descending order
    df_major_sorted = df_major.sort_values(by='Score', ascending=False)

    # Take the top 10 students for this major
    df_top_10_major = df_major_sorted.head(10)

    # Append the result to the list
    top_10_students_list.append(df_top_10_major)

In [21]:
df_top_10_all = pd.concat(top_10_students_list)
df_top_10_all.head()

               NIS                    Name                       Major  Score
110  0106012210052   Brian Timothy Santoso  Management - Reguler Class    165
64   0106012110276     Neola Omar Avizenna  Management - Reguler Class    118
90   0106012210008        Ferdinand Edbert  Management - Reguler Class    113
154  0106012210185           Jessica Halim  Management - Reguler Class    103
35   0106012110151  Valentino Limbang Jaya  Management - Reguler Class    100

In [22]:
df_top_10_all = df_top_10_all.sort_values(by=['Major'], ascending=True)
df_top_10_all.head()

               NIS                       Name       Major  Score
384  0106042110048          Fabian Benediktus  Accounting    118
380  0106042110044  Cinthya Oktaviana Nugroho  Accounting    139
371  0106042110018     Laurentia Yuke Elsinta  Accounting    115
369  0106042110014       Thasya Hery Saputera  Accounting    110
386  0106042110051    Vianney Parameswara Ali  Accounting    100

In [23]:
output_path = 'C:\\Users\\hansj\\OneDrive\\Documents\\Student Affairs\\Projects\\PILMAPRES\\main\\output\\output.xlsx'
df_top_10_all.to_excel(output_path, index=False)

In [24]:
# Assuming you already have the combined DataFrame from multiple sheets
# Group by NIS, Name, Major, and Field to count the number of submissions per field
df_field_counts = df.groupby(['NIS', 'Name', 'Major', 'Field']).size().reset_index(name='Submissions')

# Now, pivot the data to create a column for each Field showing the number of submissions per student
df_pivot = df_field_counts.pivot_table(index=['NIS', 'Name', 'Major'], 
                                       columns='Field', 
                                       values='Submissions', 
                                       fill_value=0)

# Merge the pivoted DataFrame with the original DataFrame containing the total scores
# Assuming df_total_scores_per_student has the total scores per student
df_final = df_total_scores_per_student.merge(df_pivot, on=['NIS', 'Name', 'Major'], how='left')

# Fill any missing values with 0 for students who don't have submissions in certain fields
df_final.fillna(0, inplace=True)

# Display the final DataFrame
print(df_final.head())

output_path = 'C:\\Users\\hansj\\OneDrive\\Documents\\Student Affairs\\Projects\\PILMAPRES\\main\\output\\test.xlsx'
df_final.to_excel(output_path, index=False)

             NIS                     Name                       Major  Score  \
0  0106012110024   Michelle Henny Limbono  Management - Reguler Class     15
1  0106012110036        Jesslyn Andressah  Management - Reguler Class     40
2  0106012110040      Ricca Arifa Rachman  Management - Reguler Class     20
3  0106012110042  Geovanka Cyndie Tiandya  Management - Reguler Class     40
4  0106012110043            Ricky Hartono  Management - Reguler Class     20

   Hasil Karya  Karir Organisasi  Kompetisi  \
0            0                 0          1
1            2                 0          0
2            2                 0          0
3            2                 0          0
4            1                 0          0

   Pemberdayaan atau Aksi Kemanusiaan  Pengakuan
0                                   0          0
1                                   0          0
2                                   0          0
3                                   0          0
4                                   0          0