In [379]:
import pandas as pd

In [380]:
df = pd.read_csv("17032025.csv")

In [381]:
df.head()

,period,nama_survey,prodi,faculty,name,nis,section_name,question_id,question_name,answer_text,answer,text_atch,tanggal_input
0,20242,Survey Kesehatan Mental 2025,ACC,SBM,Abraham Enrico Junior,106042410013,Section 1/4,Q1.1,Jenis kelamin,Laki-laki,0,NaN,2025-02-11
1,20242,Survey Kesehatan Mental 2025,ACC,SBM,Abraham Enrico Junior,106042410013,Section 1/4,Q1.2,Usia,number,0,18,2025-02-11
2,20242,Survey Kesehatan Mental 2025,ACC,SBM,Abraham Enrico Junior,106042410013,Section 1/4,Q1.3,Prodi,ACC,0,NaN,2025-02-11
3,20242,Survey Kesehatan Mental 2025,ACC,SBM,Abraham Enrico Junior,106042410013,Section 1/4,Q1.4,Angkatan,2024,0,NaN,2025-02-11
4,20242,Survey Kesehatan Mental 2025,ACC,SBM,Abraham Enrico Junior,106042410013,Section 2/4,Q2.1,Apakah Anda senang ketika dapat bermanfaat bag...,NaN,4,NaN,2025-02-11

In [382]:
df.columns

Index(['period', 'nama_survey', 'prodi', 'faculty', 'name', 'nis',
       'section_name', 'question_id', 'question_name', 'answer_text', 'answer',
       'text_atch', 'tanggal_input'],
      dtype='object')

In [383]:
df = df.drop(columns=["period", "nama_survey", "question_name", "tanggal_input"])

In [384]:
df.head()

,prodi,faculty,name,nis,section_name,question_id,answer_text,answer,text_atch
0,ACC,SBM,Abraham Enrico Junior,106042410013,Section 1/4,Q1.1,Laki-laki,0,NaN
1,ACC,SBM,Abraham Enrico Junior,106042410013,Section 1/4,Q1.2,number,0,18
2,ACC,SBM,Abraham Enrico Junior,106042410013,Section 1/4,Q1.3,ACC,0,NaN
3,ACC,SBM,Abraham Enrico Junior,106042410013,Section 1/4,Q1.4,2024,0,NaN
4,ACC,SBM,Abraham Enrico Junior,106042410013,Section 2/4,Q2.1,NaN,4,NaN

In [385]:
dass_mapping = {
    "Depression": ["Q3.3", "Q3.5", "Q3.10", "Q3.13"],
    "Anxiety": ["Q3.2", "Q3.4", "Q3.7", "Q3.9"],
    "Stress": ["Q3.1", "Q3.6", "Q3.8", "Q3.11", "Q3.12", "Q3.14"]
}

abusi_mapping = {
    "Pikiran untuk NSSI": ["Q4.4", "Q4.5", "Q4.6", "Q4.7"],
    "Perilaku NSSI": ["Q4.8", "Q4.9", "Q4.10"]
}

In [386]:
relevant_questions = ["Q3.1", "Q3.2", "Q3.3", "Q3.4", "Q3.5", "Q3.6", "Q3.7", "Q3.8", "Q3.9", "Q3.10", "Q3.11", "Q3.12", "Q3.13", "Q3.14", "Q4.1","Q4.2","Q4.3","Q4.4", "Q4.5", "Q4.6", "Q4.7", "Q4.8", "Q4.9", "Q4.10", "Q4.11", "Q4.12", "Q4.13", "Q4.14", "Q4.15"]
df = df[df["question_id"].isin(relevant_questions)]

In [387]:
# df["answer"] = df["answer"].astype(str)

In [388]:
mapped_questions = set(sum(dass_mapping.values(), []) + sum(abusi_mapping.values(), []))

def replace_answer(row):
    if (
        row["answer"] == "0"
        and row["question_id"] not in mapped_questions
        and pd.notna(row["answer_text"])
        and str(row["answer_text"]).strip() != ""
    ):
        return str(row["answer_text"])  # Kembalikan jawaban yang benar
    return row["answer"]  # Biarkan tetap sama jika tidak memenuhi kondisi

df["answer"] = df.apply(replace_answer, axis=1)

In [389]:
df.head(29)

,prodi,faculty,name,nis,section_name,question_id,answer_text,answer,text_atch
26,ACC,SBM,Abraham Enrico Junior,106042410013,Section 3/4,Q3.1,Tidak sesuai dengan saya sama sekali (tidak pe...,0,NaN
27,ACC,SBM,Abraham Enrico Junior,106042410013,Section 3/4,Q3.2,Tidak sesuai dengan saya sama sekali (tidak pe...,0,NaN
28,ACC,SBM,Abraham Enrico Junior,106042410013,Section 3/4,Q3.3,Tidak sesuai dengan saya sama sekali (tidak pe...,0,NaN
29,ACC,SBM,Abraham Enrico Junior,106042410013,Section 3/4,Q3.4,Tidak sesuai dengan saya sama sekali (tidak pe...,0,NaN
30,ACC,SBM,Abraham Enrico Junior,106042410013,Section 3/4,Q3.5,Tidak sesuai dengan saya sama sekali (tidak pe...,0,NaN
31,ACC,SBM,Abraham Enrico Junior,106042410013,Section 3/4,Q3.6,Tidak sesuai dengan saya sama sekali (tidak pe...,0,NaN
32,ACC,SBM,Abraham Enrico Junior,106042410013,Section 3/4,Q3.7,Tidak sesuai dengan saya sama sekali (tidak pe...,0,NaN
33,ACC,SBM,Abraham Enrico Junior,106042410013,Section 3/4,Q3.8,Tidak sesuai dengan saya sama sekali (tidak pe...,0,NaN
34,ACC,SBM,Abraham Enrico Junior,106042410013,Section 3/4,Q3.9,Tidak sesuai dengan saya sama sekali (tidak pe...,0,NaN
35,ACC,SBM,Abraham Enrico Junior,106042410013,Section 3/4,Q3.10,Tidak sesuai dengan saya sama sekali (tidak pe...,0,NaN
36,ACC,SBM,Abraham Enrico Junior,106042410013,Section 3/4,Q3.11,Tidak sesuai dengan saya sama sekali (tidak pe...,0,NaN
37,ACC,SBM,Abraham Enrico Junior,106042410013,Section 3/4,Q3.12,Tidak sesuai dengan saya sama sekali (tidak pe...,0,NaN
38,ACC,SBM,Abraham Enrico Junior,106042410013,Section 3/4,Q3.13,Tidak sesuai dengan saya sama sekali (tidak pe...,0,NaN
39,ACC,SBM,Abraham Enrico Junior,106042410013,Section 3/4,Q3.14,Tidak sesuai dengan saya sama sekali (tidak pe...,0,NaN
47,ACC,SBM,Abraham Enrico Junior,106042410013,Section 4/4,Q4.1,Tidak memiliki kecenderungan kecanduan,0,NaN
48,ACC,SBM,Abraham Enrico Junior,106042410013,Section 4/4,Q4.2,Tidak,0,NaN
49,ACC,SBM,Abraham Enrico Junior,106042410013,Section 4/4,Q4.3,Tidak pernah melukai diri/self harm dalam 12 b...,0,NaN
50,ACC,SBM,Abraham Enrico Junior,106042410013,Section 4/4,Q4.4,Tidak pernah,0,NaN
51,ACC,SBM,Abraham Enrico Junior,106042410013,Section 4/4,Q4.5,Tidak pernah,0,NaN
52,ACC,SBM,Abraham Enrico Junior,106042410013,Section 4/4,Q4.6,Tidak pernah,0,NaN
53,ACC,SBM,Abraham Enrico Junior,106042410013,Section 4/4,Q4.7,Tidak pernah,0,NaN
54,ACC,SBM,Abraham Enrico Junior,106042410013,Section 4/4,Q4.8,Tidak melakukan self-harm,0,NaN
55,ACC,SBM,Abraham Enrico Junior,106042410013,Section 4/4,Q4.9,Tidak melakukan self-harm,0,NaN
56,ACC,SBM,Abraham Enrico Junior,106042410013,Section 4/4,Q4.10,Tidak melakukan self-harm,0,NaN
57,ACC,SBM,Abraham Enrico Junior,106042410013,Section 4/4,Q4.11,"Tidak, saya tidak pernah melakukan percobaan b...",0,NaN
58,ACC,SBM,Abraham Enrico Junior,106042410013,Section 4/4,Q4.12,"Tidak, saya tidak pernah melakukan percobaan b...",0,NaN
59,ACC,SBM,Abraham Enrico Junior,106042410013,Section 4/4,Q4.13,answer,0,mental
60,ACC,SBM,Abraham Enrico Junior,106042410013,Section 4/4,Q4.14,NaN,0,NaN
61,ACC,SBM,Abraham Enrico Junior,106042410013,Section 4/4,Q4.15,NaN,0,NaN

In [390]:
def classify_dass(value, category):
    if category == "Depression":
        if value < 3.20: return "Normal"
        elif 3.20 <= value < 6.40: return "Mild"
        elif 6.40 <= value < 9.60: return "Moderate"
        elif 9.60 <= value < 12.80: return "Severe"
        else: return "Extremely Severe"
        
    elif category == "Anxiety":
        if value < 4.80: return "Normal"
        elif 4.80 <= value < 9.60: return "Mild"
        elif 9.60 <= value < 14.40: return "Moderate"
        elif 14.40 <= value < 19.20: return "Severe"
        else: return "Extremely Severe"
    
    elif category == "Stress":
        if value < 4.80: return "Normal"
        elif 4.80 <= value < 9.60: return "Mild"
        elif 9.60 <= value < 14.40: return "Moderate"
        elif 14.40 <= value < 19.20: return "Severe"
        else: return "Extremely Severe"

def classify_abusi(value, category):
    if category == "Pikiran untuk NSSI":
        if value < 5.33: return "Normal"
        elif 5.33 <= value < 10.66: return "Moderate"
        else: return "Severe"
    
    elif category == "Perilaku NSSI":
        if value < 6.67: return "Normal"
        elif 6.67 <= value < 13.34: return "Moderate"
        else: return "Severe"

In [391]:
def compute_sums(df, mapping):
    scores = {}
    
    for category, questions in mapping.items():
        filtered_df = df[df["question_id"].isin(questions)].copy()  # Salin data yang difilter
        filtered_df["answer"] = pd.to_numeric(filtered_df["answer"], errors="coerce").fillna(0).astype(int)  # Konversi ke int
        scores[category] = filtered_df.groupby("nis")["answer"].sum()
    
    return pd.DataFrame(scores).reset_index()

In [392]:
dass_df = compute_sums(df, dass_mapping)
abusi_df = compute_sums(df, abusi_mapping)

In [393]:
dass_df.iloc[:, 1:] = dass_df.iloc[:, 1:].apply(pd.to_numeric, errors="coerce").fillna(0)
abusi_df.iloc[:, 1:] = abusi_df.iloc[:, 1:].apply(pd.to_numeric, errors="coerce").fillna(0)

In [394]:
for col in dass_df.columns[1:]:  # Skip 'nis'
    dass_df[f"{col} Classification"] = dass_df[col].apply(lambda x: classify_dass(x, col))

for col in abusi_df.columns[1:]:  # Skip 'nis'
    abusi_df[f"{col} Classification"] = abusi_df[col].apply(lambda x: classify_abusi(x, col))

In [395]:
# Get unique student information
student_info = df[["nis", "name", "prodi", "faculty"]].drop_duplicates(subset="nis")

# Merge with DASS and Abusi data
result = student_info.merge(dass_df, on="nis", how="left").merge(abusi_df, on="nis", how="left")

In [396]:
result.head()

,nis,name,prodi,faculty,Depression,Anxiety,Stress,Depression Classification,Anxiety Classification,Stress Classification,Pikiran untuk NSSI,Perilaku NSSI,Pikiran untuk NSSI Classification,Perilaku NSSI Classification
0,106042410013,Abraham Enrico Junior,ACC,SBM,0.0,0.0,0.0,Normal,Normal,Normal,0.0,0.0,Normal,Normal
1,106042310041,Adelia Kurnia Syahrani,ACC,SBM,0.0,2.0,2.0,Normal,Normal,Normal,0.0,0.0,Normal,Normal
2,106042110045,Adeline Hamidy Kushandojo,ACC,SBM,3.0,2.0,3.0,Normal,Normal,Normal,3.0,0.0,Normal,Normal
3,106042110021,Agnes Goeyana,ACC,SBM,3.0,4.0,9.0,Normal,Normal,Mild,1.0,0.0,Normal,Normal
4,106042010031,Aina Nur Safira Nanda,ACC,SBM,3.0,2.0,8.0,Normal,Normal,Mild,10.0,12.0,Moderate,Moderate

In [397]:
q3_q4_answers = df[df["question_id"].str.startswith("Q3.") | df["question_id"].str.startswith("Q4.")][["nis", "question_id", "answer"]]

In [398]:
checklist_questions = ["Q4.1", "Q4.3", "Q4.15"]
q3_q4_answers = q3_q4_answers.groupby(["nis", "question_id"]).agg(lambda x: ", ".join(map(str, x))).reset_index()

In [399]:
q3_q4_pivot = q3_q4_answers.pivot(index="nis", columns="question_id", values="answer").reset_index()

In [400]:
final_result = result.merge(q3_q4_pivot, on="nis", how="left")

In [401]:
dass_classifications = [f"{category} Classification" for category in dass_mapping.keys()]
abusi_classifications = [f"{category} Classification" for category in abusi_mapping.keys()]

In [402]:
question_columns = sorted([col for col in final_result.columns if col.startswith("Q3.") or col.startswith("Q4.")], key=lambda x: (x[:2], int(x[3:])))
column_order = (
    ["nis", "name", "prodi", "faculty"] + 
    question_columns + 
    list(dass_mapping.keys()) + dass_classifications + 
    list(abusi_mapping.keys()) + abusi_classifications
)

In [403]:
print(final_result.columns.tolist())

['nis', 'name', 'prodi', 'faculty', 'Depression', 'Anxiety', 'Stress', 'Depression Classification', 'Anxiety Classification', 'Stress Classification', 'Pikiran untuk NSSI', 'Perilaku NSSI', 'Pikiran untuk NSSI Classification', 'Perilaku NSSI Classification', 'Q3.1', 'Q3.10', 'Q3.11', 'Q3.12', 'Q3.13', 'Q3.14', 'Q3.2', 'Q3.3', 'Q3.4', 'Q3.5', 'Q3.6', 'Q3.7', 'Q3.8', 'Q3.9', 'Q4.1', 'Q4.10', 'Q4.11', 'Q4.12', 'Q4.13', 'Q4.14', 'Q4.15', 'Q4.2', 'Q4.3', 'Q4.4', 'Q4.5', 'Q4.6', 'Q4.7', 'Q4.8', 'Q4.9']

In [404]:
final_result = final_result[column_order]

In [405]:
final_result.head()

,nis,name,prodi,faculty,Q3.1,Q3.2,Q3.3,Q3.4,Q3.5,Q3.6,...,Depression,Anxiety,Stress,Depression Classification,Anxiety Classification,Stress Classification,Pikiran untuk NSSI,Perilaku NSSI,Pikiran untuk NSSI Classification,Perilaku NSSI Classification
0,106042410013,Abraham Enrico Junior,ACC,SBM,0,0,0,0,0,0,...,0.0,0.0,0.0,Normal,Normal,Normal,0.0,0.0,Normal,Normal
1,106042310041,Adelia Kurnia Syahrani,ACC,SBM,1,0,0,0,0,1,...,0.0,2.0,2.0,Normal,Normal,Normal,0.0,0.0,Normal,Normal
2,106042110045,Adeline Hamidy Kushandojo,ACC,SBM,0,2,0,0,0,0,...,3.0,2.0,3.0,Normal,Normal,Normal,3.0,0.0,Normal,Normal
3,106042110021,Agnes Goeyana,ACC,SBM,2,0,0,0,0,1,...,3.0,4.0,9.0,Normal,Normal,Mild,1.0,0.0,Normal,Normal
4,106042010031,Aina Nur Safira Nanda,ACC,SBM,1,2,1,0,0,2,...,3.0,2.0,8.0,Normal,Normal,Mild,10.0,12.0,Moderate,Moderate

In [406]:
final_result.columns

Index(['nis', 'name', 'prodi', 'faculty', 'Q3.1', 'Q3.2', 'Q3.3', 'Q3.4',
       'Q3.5', 'Q3.6', 'Q3.7', 'Q3.8', 'Q3.9', 'Q3.10', 'Q3.11', 'Q3.12',
       'Q3.13', 'Q3.14', 'Q4.1', 'Q4.2', 'Q4.3', 'Q4.4', 'Q4.5', 'Q4.6',
       'Q4.7', 'Q4.8', 'Q4.9', 'Q4.10', 'Q4.11', 'Q4.12', 'Q4.13', 'Q4.14',
       'Q4.15', 'Depression', 'Anxiety', 'Stress', 'Depression Classification',
       'Anxiety Classification', 'Stress Classification', 'Pikiran untuk NSSI',
       'Perilaku NSSI', 'Pikiran untuk NSSI Classification',
       'Perilaku NSSI Classification'],
      dtype='object')

In [407]:
final_result.to_excel("DASS_ABUSI_results.xlsx", index=False)